@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container mt-5">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Los sentimos, las aguas van encontra el día de hoy</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>ID de invocación:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>Código del error: @Model.Code</h3>
    <p>
        Tranquilo, tu información esta <strong>Segura</strong>
        pese a los inconvenientes.
    </p>
    <p>
        @if (!string.IsNullOrEmpty(@Model.Message))
        {
            @Model.Message
        }
        else
        {
            @try
            {
                @Model.Errors[@Model.Code]
            }
            catch (Exception) { }
        }
    </p>

    <img class="img-fluid" src="https://cdn.dribbble.com/users/2919618/screenshots/7000775/error.gif" alt="">
</div>
