@page
@model ProductModel
@{
    ViewData["Title"] = "Product page";
}

<style>
    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: blue;
    }

    .horizontal-scrollable > .row {
        overflow-x: auto;
        white-space: nowrap;
    }
        
    .horizontal-scrollable > .row > .col-xs-4 {
        display: inline-block;
        float: none;
    }

    .container-img {
        position: relative;
        display: inline-block;
        width: 7em;
        height: 5em;
    }

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .container-img:hover .image {
        opacity: 0.3;
    }

    .container-img:hover .middle {
        opacity: 1;
    }

    .text-img {
        background-color: transparent;
        color: black;
        font-size: 16px;
        padding: 16px 32px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="card shadow-lg p-3 m-4 rounded">
                <div class="card-header">
                    <span class="badge rounded-pill bg-primary m-2">@Model.CategoryProduct</span>
                    <h4 class="card-title mb-3">@Model.ProductSelected.Name</h4>
                    @if (Model.IsCorrect != "Yes")
                    {
                        <div class="alert alert-danger mt-4" role="alert">
                            @Model.ErrorMessage
                        </div>
                    }
                    <img id="mainImage" class="img-fluid rounded" src="@Model.ProductSelected.Product_Images.ToArray()[0].Url" alt="">
                    <div class="container-fluid horizontal-scrollable p-0">
                        @foreach (var im in @Model.ProductSelected.Product_Images)
                        {
                            <div class="container-img m-2">
                                <img src="@im.Url" alt="Avatar" class="image rounded p-1 shadow" style="width:100%">
                            </div>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <form id="formdata" name="formdata" method="post">
                        <div class="container-fluid d-flex p-0 mb-3">
                            <a href="">
                                <span class="material-icons me-1">
                                    thumb_down_alt
                                </span>
                            </a>
                            <small class="text-muted me-4">@Model.ProductSelected.LikesNumber likes</small>
                            <a href="">
                                <span class="material-icons me-1">
                                    thumb_up_alt
                                </span>
                            </a>
                            <small class="text-muted me-4">@Model.ProductSelected.DislikesNumber dislikes</small>
                            <a asp-page="/Product" asp-page-handler="AddFav" asp-route-idProduct="@Model.ProductSelected.Id">
                                <span class="material-icons me-3">
                                    favorite
                                </span>
                            </a>
                            <small class="text-muted">@Model.ProductSelected.ShoppedTimes unidades
                                vendidas
                            </small>
                        </div>
                        <label for="" class="fs-1">$ @Model.ProductSelected.UnitPrice</label>
                        <div class="input-group mt-4 mb-3">
                            <span class="input-group-text" id="basic-addon1">Cantidad</span>
                            <input id="productQuantity" name="productQuantity" type="number" class="form-control" value="@Model.Quantity"
                                aria-label="Username" aria-describedby="basic-addon1">
                            <input name="idProduct" value="@Model.ProductSelected.Id" hidden>
                        </div>
                        <div class="row">
                            <div class="col-md-6 d-grid">
                                <button type="submit" asp-page-handler="BuyProduct"
                                    class="btn btn-primary btn-block mt-2 mb-2">Comprar</button>
                            </div>
                            <div class="col-md-6 d-grid">
                                <button type="submit" asp-page-handler="AddShoppingCart"
                                    class="btn btn-outline-primary d-block mt-2 mb-2">Agregar al
                                    carrito</button>
                            </div>
                        </div>
                    </form>
                    <h5 class="text mt-3">Características</h5>
                    <table class="table table-striped table-hover mt-3">
                        <tbody>
                            <tr>
                                <th scope="row" class="col-4">Unidades disponibles</th>
                                <td>@Model.ProductSelected.StockQuantity</td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-4">Precio por unidad</th>
                                <td>$@Model.ProductSelected.UnitPrice</td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-4">Fecha de actualización</th>
                                <td>@Model.ProductSelected.UnitPrice</td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-4">País</th>
                                <td>@Model.ProductSelected.Country</td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-4">Ubicación</th>
                                <td>@Model.ProductSelected.Location</td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 class="text mt-5">Descripción</h5>
                    <hr class="my-4">
                    <p style="text-align: justify;">
                        @Model.ProductSelected.Description
                    </p>
                    <h5 class="text mt-5">Infromación del vendedor</h5>
                    <hr class="my-4">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" class="col-6">Nombre de usuario</th>
                                <td><a asp-page="/UserData" asp-route-id="@Model.UserVentor.Id"> @Model.UserVentor.UserName </a></td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-6">Reputación</th>
                                <td>@Model.UserVentor.Reputation</td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-6">Teléfono</th>
                                <td>@Model.UserVentor.Phone</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Última actualización @Model.ProductSelected.LastUpdate</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card shadow p-3 m-4 rounded">
                <div class="container-fuild m-3">
                    <label class="text mb-1" for="staticEmail2">Escribe un comentario</label>
                    <form class="row">
                        <div class="col-8">
                            <textarea type="text" class="form-control" id="inputPassword2"
                                placeholder="Comentario"></textarea>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary">Publicar</button>
                        </div>
                    </form>
                </div>
                <hr class="my-4">
                @{
                    if(@Model.Comments.Count > 0){
                        foreach (var comment in @Model.Comments)
                        {
                            <div class="card m-3">
                                <div class="card-body">
                                    <h5 class="card-title">@comment.OpinionResume</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Por: @comment.UserName</h6>
                                    <p class="card-text">@comment.Content</p>
                                    <a href="#" class="card-link">@comment.Likes Likes</a>
                                    <a href="#" class="card-link">@comment.Dislikes Dislikes</a>
                                </div>
                            </div>
                        } 
                    }else{
                        <div class="conatiner" style="text-align: center; color: #747474;">
                            <label class="text"><b>Se el primero en comentar</b></label>
                        </div>    
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(() => {

        $('.image').click(function () {
            var newSrc = $(this).attr('src');
            $('#mainImage').attr('src', newSrc);
        });
    
    });
</script>
}
