@page
@model ProductsSoldModel
@{
    ViewData["Title"] = "Products sold page";
}

<style>
    .card:hover {
        background-color: #eeeeee;
        transform: scale(1.1, 1.1);
        transition-duration: .3s;
    }

    .card {
        background-color: white;
        transform: scale(1);
        transition-duration: .3s;
        padding: 1em;
        font-size: small;
    }

    img {
        width: 7em;
    }

    a {
        color: blue;
        text-decoration: none;
    }


    .cmn-divfloat {
        position: fixed !important;
        bottom: 45px;
        right: 15px;
        z-index: 100;
        F
    }

    .cmn-btncircle {
        width: 250px !important;
        height: 40px !important;
        padding: 6px 0px;
        border-radius: 15px;
        font-size: 18px;
        text-align: calc();
    }
</style>

<div id="div-totop" class="cmn-divfloat">
    <a asp-page="/ProductForm" class="btn btn-primary cmn-btncircle">
        Subir producto
    </a>
</div>

<div class="container">
    @{
        if (Model.View == "Request")
        {
            var products = @Model.Products;
            foreach (var p in products)
            {
                <div class="card m-3 rounded shadow">
                    <div class="row g-0">
                        <div class="col-md-2 p-3">
                            <img style="width: 100%;" src="@p.Product_Images.ToList()[0].Url"
                        class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body m-0 p-0">
                                <a asp-page="/ProductForm" asp-route-idProduct="@p.Id" asp-page-handler="Edit" style="color: black;"> <h5 class="card-title mb-0">@p.Name</h5> </a>
                                <a asp-page="/ProductSoldDetails" asp-route-id="@p.Id"><small>Cantidad de unidades vendidas:
                                        @p.ShoppedTimes</small></a>
                                <p id="productDescription" class="card-text" style="text-align: justify;">@p.Description</p>
                                <p class="card-text"><small class="text-muted">Última actualización: @p.LastUpdate</small></p>
                            </div>
                        </div>
                        <div class="col-md-2" style="text-align: right;">
                            @{
                                var total = p.UnitPrice * p.ShoppedTimes;
                                <label class="text-center fs-3">Ganancia $ @total</label>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>


@section Scripts {
<script>
    $(document).ready(() => {
        $('#productDescription').text(function () {
            var content = $(this).text();
            if (content.length > 280)
                return content.substring(0, 280) + '...';
            else
                return $(this).text();
        });
    });
</script>
}
