@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile page";
}

<style>
    .error {
        color: red;
    }

    .card {
        margin: 0 auto;
        /* Added */
        float: none;
        /* Added */
        margin-bottom: 10px;
        /* Added */
    }
</style>

<div class="container mt-5">
    <div class="card shadow-lg col-sm-8 col-md-8 col-lg-8">
        <div class="card-header">
            <h1 class="text fs-4">Perfil</h1>
        </div>
        <div class="card-body">
            <form id="formData" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
                    <input name="userName" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" value="@Model.Client.UserName">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" value="@Model.Client.Email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input name="password" value="@Model.Client.Password" type="password" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="mb-3 row">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1" class="form-label">Teléfono</label>
                        <input name="phone" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="@Model.Client.Phone">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputEmail1" class="form-label">Fecha de nacimiento</label>
                        <input name="birthDate" type="date" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="@Model.Client.BirthDay">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea name="biography" class="form-control" id="exampleFormControlTextarea1"
                        rows="3">@Model.Client.Description</textarea>
                </div>
                <div class="row">
                    <div class="col-md-6 d-grid">
                        <a asp-page-handler="LogOut" class="btn btn-outline-danger mt-2">Salir</a>
                    </div>
                    <div class="col-md-6 d-grid">
                        <button id="saveBtn" type="submit" asp-route-ID="@Model.Client.Id"
                            asp-page-handler="EditProfile" class="btn btn-primary mt-2">Guardar cambios</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <small class="text text-muted">Los datos de contacto ayudarán a que otros usuarios puedan comunicarse
                contigo</small>
            @if (Model.IsCorrect != "Yes")
            {
                <div class="alert alert-danger mt-4" role="alert">
                    @Model.ErrorMessage
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
<script>
    $(document).ready(() => {

        $(document).keypress(function (e) {
            if (e.which === 13) {
                $("#saveBtn").first().click();
            }
        });

        $("#formData").validate({
            rules: {
                userName: {
                    required: true,
                    minlength: 4,
                    maxlength: 50
                },
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 8
                },
                phone: {
                    required: true,
                    minlength: 10
                },
                birthDate: {
                    required: true
                },
                biography: {
                    required: true,
                    minlength: 1,
                    maxlength: 450
                }
            },
            messages: {
                userName: {
                    required: "Debes proporcionar un nombre de usuario",
                    minlength: "El nombre de usuario debe contener al menos 4 caracteres",
                    maxlength: "El nombre de usuario  puede tener un máximo de 50 caracteres"
                },
                email: {
                    required: "Debes proporcionar un correo electrónico",
                    email: "Ejemplo: josue@gmail.com"
                },
                password: {
                    required: "Debes proporcionar una contraseña para tu cuenta",
                    minlength: "La contraseña debe contener al menos 8 caracteres"
                },
                phone: {
                    required: "Debes proporcionar un número telefónico de cotacto",
                    minlength: "El número telefónico debe tener 8 digitos"
                },
                birthDate: {
                    required: "Debes proporcionar tu fecha de nacimiento"
                },
                biography: {
                    required: "Debes escribir al menos una palabra en tu biografía",
                    minlength: "La biografía debe contener entre 1 a 450 caracteres",
                    maxlength: "La biografía debe contener entre 1 a 450 caracteres"
                }
            },
        });

    });
</script>
}