@page
@model ShoppingsModel
@{
    ViewData["Title"] = "Shoppings";
}

<style>
    .card:hover {
        background-color: #eeeeee;
        transform: scale(1.1, 1.1);
        transition-duration: .3s;
    }

    .card {
        background-color: white;
        transform: scale(1);
        transition-duration: .3s;
        padding: 1em;
        font-size: small;
    }

    a{
        text-decoration: none;
        color: black;
    }
    
    a:hover{
        color: #302a76;
    }

    img {
        width: 7em;
    }
</style>

<div class="container">
    @{
        if (Model.ViewToShow == "Request")
        {
            var products = Model.ProductsSelected;
            foreach (var product in products)
            {
                <div class="card m-3 rounded shadow">
                    <div class="row g-0">
                        <div class="col-md-2 p-3">
                            <img style="width: 100%;" src="@product.Product_Images.ToList()[0].Url"
                        class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body m-0 p-0">
                                <a asp-page="/Product" asp-route-ID="@product.Id"><h5 class="card-title mb-0">@product.Name</h5></a>
                                <small style="color: green;">Cantidad: @product.StockQuantity</small>
                                <p id="productDescription" class="card-text" style="text-align: justify;">@product.Description</p>
                                <p class="card-text"><small class="text-muted">Status de compra: @product.Status</small></p>
                            </div>
                        </div>
                        <div class="col-md-2" style="text-align: right;">
                            <label class="text-center fs-3">$ @product.UnitPrice</label>
                        </div>
                    </div>
                </div>
            }
        }

    }
</div>


@section Scripts {
<script>
    $(document).ready(() => {
        $('#productDescription').text(function () {
            var content = $(this).text();
            if (content.length > 280)
                return content.substring(0, 280) + '...';
            else
                return $(this).text();
        });
    });
</script>
}
